@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.marquee {
    width: max-content;
    animation: marquee 34s linear infinite;
}

.marquee span {
    padding-right: 1rem;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-22%);
    }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}