@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.marquee {
    display: flex;
    width: max-content;
    animation: marquee 20s linear infinite;
}

.marquee span {
    flex-shrink: 0;
}

@keyframes marquee {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-50%);
    }
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}